# Database Engineering

In [1]:
import pandas as pd                                                      
import numpy as np   
import sqlalchemy

In [2]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

In [3]:
engine = create_engine('sqlite:///hawaii.sqlite', echo=False)                # create SQLite database engine

In [4]:
measurement_df= pd.read_csv("./Resources/hawaii_measurements_df.csv")        # read cleaned csv data
station_df= pd.read_csv("./Resources/hawaii_stations_df.csv")

In [5]:
measurement_df.head()                                                        # display measurement df

       station      date  prcp  tobs
0  USC00519397  1/1/2010  0.08    65
1  USC00519397  1/2/2010  0.00    63
2  USC00519397  1/3/2010  0.00    74
3  USC00519397  1/4/2010  0.00    76
4  USC00519397  1/6/2010  0.00    73

In [6]:
station_df                                                                   # display station df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [7]:
class Measurement(Base):                                                     # create ORM class for measurement
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [8]:
class Station(Base):                                                         # create ORM class for station
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [9]:
Base.metadata.create_all(engine)                                             # create SQLite database

In [10]:
# writes data from dataframes to SQLite database
measurement_df.to_sql('measurement', engine, if_exists = "append", index=False)
station_df.to_sql('station', engine, if_exists = "append", index=False)